

.input {
    background-color: white;
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 10px ;
}
.border{
  border: solid black 1px;
  border-radius: 30;
}
.input-text{
    /* width: 80%; */
    margin-top: 10px;
    margin-left: 10px;
    /* height: px; */
}
.reset{
    color: white;
    font-weight: bold;
    width: 100px;
    height: 30px;
    margin-left: 9px;
    background-color: red;
}
.simpan{
    color: white;
    font-weight: bold;
    width: 100px;
    height: 30px;
    margin-left: 50px;
    background-color: blue;
}